.body {
  font-family: 'Roboto', sans-serif;
}

.father_wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 44% 28% 21%; /*21 considering that its a bit wider than in figma*/
  margin: 5vw 3.9vw;/*лучше задать отсутпы отцу или просто выровнять его по центру?*/
} /*Почему справа неровный отступ? может проценты не вьюпорта брять а есть еще единицы для ВСЕГО-ВСЕГО браузера?*/

.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: start;
}

.object {
  width: 52%;
  display: flex;
  flex-direction: row;
}

.object__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  margin: 0;
  border-right: 0.35vw solid #D8D8D8;
}

.hold {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gray_top {
  width: 100%;
  margin: 0 auto;
  background-color: #D8D8D8;
  border-radius: 7px;
}

.top_text {
  position: relative;
  text-align: center;
  color: #242424;
  font-size: 0.9vw;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;

  margin: 5% 0% 5%;
}





.gray_top_img {
  position: absolute;
}

.gray_top_1_img {
  z-index: -1;
  width: 100%;
  margin: 0 auto;
}

.black_img {
  width: 75%;
  margin: 0 auto;
}

.black_img_1 {
  width: 100%;
}

.grey_item {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 10%;
}

.grey_img {
  width: 60%;
  margin: 0 auto;
}

.grey_img_1 {
  width: 100%;
  margin: 0 auto;
}

.grey_text {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin-left: 5%;
  font-size: 0.9vw;
  text-transform: uppercase;
  color: #848484;
}

.green_item {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 10%;
}

.green_img {
  width: 70%;
  margin: 0 auto;
}

.green_img_1 {
  width: 100%;
  margin: 0 auto;
}

.green_text {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin-left: 5%;
  font-size: 0.9vw;
  text-transform: uppercase;
  color: #75A85B;
}

.blue_item {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 10%;
}

.blue_img {
  width: 70%;
  margin: 0 auto;
}

.blue_img_1 {
  width: 100%;
  margin: 0 auto;
}

.blue_text {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin-left: 5%;
  font-size: 0.9vw;
  text-transform: uppercase;
  color: #6A84BD;
}
/*@media (max-width: 992px) { .father_wrapper {grid-template-rows: 52% 21% 27%; grid-template-columns: 1fr;} }*/

.yellow_item {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 10%;
}

.yellow_img {
  width: 70%;
  margin: 0 auto;
}

.yellow_img_1 {
  width: 100%;
  margin: 0 auto;
}

.yellow_text {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin-left: 5%;
  font-size: 0.9vw;
  text-transform: uppercase;
  color: #FFD15A;
}

.red_item {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 10%;
}

.red_img {
  width: 60%;
  margin: 0 auto;
}

.red_img_1 {
  width: 100%;
  margin: 0 auto;
}

.red_text {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin-left: 5%;
  font-size: 0.9vw;
  text-transform: uppercase;
  color: #E84648;
}

/*STEREO*/
.stereo_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /*grid-template-rows: 1fr 1.5fr;*/
  align-items: start;
}

.stereo_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  margin: 0;
  border-right: 0.35vw solid #D8D8D8;
}

/*!*/
.dark_gray_item {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 10%;
}

.dark_gray_img {
  width: 60%;
  margin: 0 auto;
}

.dark_gray_img_1 {
  width: 100%;
  margin: 0 auto;
}

/*.dark_gray_text {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin-left: 5%;
  font-size: 0.9vw;
  text-transform: uppercase;
  color: #848484;
}*/

.gray_small_item {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 0px;
}

.gray_small_text {
  position: relative;
  top: 75%;
  width: 5%;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin-left: 20%;
  font-size: 0.9vw;
  color: #848484;
}

.gray_small_img {
  width: 45%;
  margin: 0 auto;
}

.gray_small_img_1 {
  width: 100%;
  margin: 0 auto;
}

/*GRAPHIC ITEM*/
.graphic_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

.gray_stereo_top {
  width: 100%;
  margin: 0 auto;
  background-color: #D8D8D8;
  border-radius: 7px;
  margin-top: 11%;
}/*нужен ли этот блок вообще?*/

.top_stereo_text {
  position: relative;
  text-align: center;
  color: #242424;
  font-size: 0.9vw;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-transform: uppercase;

  margin: 5% 0% 5%;
}

.graphic_img {
  width: 100%;
  margin: 0 auto;
}

.graphic_img_1 {
  width: 100%;
}



/*SOUNDCRAFT*/
.soundcraft_wrapper {
  display: grid;
  grid-template-rows: min-content (1fr 4.5fr 1fr 1fr 2fr);
  align-items: start;
}

.soundcraft_name {
  font-family: 'Noto Serif Display', serif;
  text-align: center;
  font-size: 3.5vw;
  margin: -2% auto 2.5%;
}

.soundcraft_dark_item {
display: flex;
width: 81.9%;
justify-content: space-between;
/*flex-direction: row;*/
margin: 0 auto;
}

.soundcraft_dark {
  width: 44%;
  display: flex;
  align-items: flex-end;
  /*flex-direction: row;*/
  justify-content: space-between;
  margin-top: 0px;/*надо ли?*/
}

.dark_img {
  width: 89.8%;
}

.dark_img_1 {
  width: 100%;
}

.dark_text {
  margin-bottom: 10%;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 0.9vw;
  color: #848484;
}




.border_bottom {
  border-bottom: 0.35vw solid #D8D8D8;
}

.soundcraft_gray_item {
  display: flex;
  width: 77.7%;
  justify-content: space-between;
  margin: 0% auto 1.5%;
}

.soundcraft_gray {
  width: 40.7%;
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}

.soundcraft_gray_text {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 0.9vw;
  text-transform: uppercase;
  color: #848484;
}

.soundcraft_gray_img {
  width: 74.3%;
  margin: 0 auto;
}

.soundcraft_gray_img_1 {
  width: 100%;

}




.soundcraft_gray_small_item {
  display: flex;
  width: 49.2%;
  justify-content: space-between;
  margin: 0% auto 1.5%;
}

.soundcraft_gray_small {
  width: 40.4%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 5%;
}

.soundcraft_gray_small_img {
  width: 84.2%;
}

.soundcraft_gray_small_img_1 {
  width: 100%;
}

.soundcraft_gray_small_text {
  margin-bottom: 10%;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 0.9vw;
  color: #848484;
}


.soundcraft_mixed_item {
  display: flex;
  width: 68.5%;
  justify-content: space-between;
  align-items: center;
  margin: 0% auto 5%;
}

.red_group {
  width: 44.8%;
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  /*margin: 0% auto 5%;*/
}

.red_group_light {
  width: 20.4%;
}

.red_group_text {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin-left: 0%;
  font-size: 0.9vw;
  text-transform: uppercase;
  color: #848484;
}

.red_group_light_img_1 {
  width: 100%;
}

.red_group_button {
  width: 43.8%;/*пересчитать*/
  margin-bottom: 5%;
}

.red_group_button_img_1 {
  width: 100%;
}

.reds_flex {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
}

.soundcraft_gray_2 {
  width: 34.2%;
  display: flex;
  flex-direction: column;
  margin-top: 10%;/*почеуму-то после этого красные тоже опустились, причем пропорционально*/
}

.soundcraft_gray_img_2 {
  width: 100%;/*с текстом 78*/
  margin-right: 0%;
}

.soundcraft_gray_img_1 {
  width: 100%;
}

.soundcraft_gray_text_2{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin-left: 5%;
  font-size: 0.9vw;
  text-transform: uppercase;
  color: #848484;
  margin-left: 0%;
}
